:root {
  font-family: 'Libre Franklin';
}

$padding: 0.5em 1em;

header {
  display: flex;
  justify-content: space-between;
  padding: $padding;
  border-bottom: solid 1px var(--tile-border--guessed);
}

main {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: $padding;
  gap: 1em;
}

footer {
  padding: $padding;
  font-size: 0.5em;
  color: var(--color-alt);
  background: var(--bg-alt);
  text-align: center;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.messages {
  display: flex;
  gap: 0.125em;
  flex-direction: column;
  align-items: center;
  align-self: end;

  &__message {
    font-size: 0.75em;
    background: var(--bg-alt);
    color: var(--color-alt);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
  }
}

.loading {
  text-align: center;
  opacity: 0.5;
}
