.theme-controller {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
  align-items: center;

  &__button {
    box-sizing: content-box;
    height: 1em;
    width: 1em;

    padding: 0.25em;
    margin: 0;
    border: solid 1px transparent;
    background: none;
    color: currentColor;
    border-radius: 50%;

    &:focus, &:hover {
      background-color: color-mix(in srgb, currentColor 10%, transparent 90%);

      &+.theme-controller__label {
        opacity: 0.5;
        transform: none;
      }
    }
    
    &:focus {
      outline: none;
      border-color: color-mix(in srgb, currentColor 50%, transparent 50%);
    }
  }

  &__label {
    opacity: 0;
    font-size: 0.5em;

    transform: translateX(0.5em);
    transition: all 200ms ease-out;
  }
}